@import 'mixins.scss';
@import 'variables.scss';

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;

  padding-bottom: 2px;

  overflow-x: auto;

  // вся строка
  & .row {
    user-select: none;
    display: flex;
    flex-direction: row; // по умолчанию такое же значение
    min-height: 20px;
    height: $row-height;
    //width: 100%;
  }
  // первая ячейка
  & .row-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
  }

  //колонки после первой ячейки
  & .row-data {
    display: flex;

    & .column {
      user-select: none;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;

      min-width: 40px;
      width: $cell-width;
      height: 100%;

      border: 1px solid $border-color;
      border-top: none;
      border-left: none;
      background: #f8f9fa;
    }

    & .cell {
      min-width: 40px;
      width: $cell-width;
      min-height: 20px;
      height: 100%;

      border: 1px solid #e2e3e3;
      border-top: 0;
      border-left: 0;
      outline: none;
      color: #111;

      white-space: nowrap;

      padding: 5px;
    }
    & .selected {
      border: none;
      outline: 2px solid $primary-color;
      z-index: 2;
    }
  }

  .col-resize,
  .row-resize {
    position: absolute;
    background-color: $primary-color;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 10;

    &:hover {
      opacity: 1 !important;
    }
    &:active {
      opacity: 1;
    }

    .col-resize-vertical-bar,
    .col-resize-horizontal-bar {
      position: absolute;
      z-index: 9;
      border-top: 1px solid blue;
      border-left: 1px solid blue;
    }
    .col-resize-vertical-bar {
      margin-left: 2px;
      margin-right: 2px;
      margin-top: $row-height;
    }

    .col-resize-horizontal-bar {
      margin-bottom: 2px;
      margin-top: 2px;
      margin-left: ($info-cell-width);
    }
  }

  .col-resize {
    top: 0;
    width: 5px;
    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    left: 0;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }
  }
}
